chardet==4.0.0
docx2txt==0.8
packaging==21.0
pdfminer.six==20200517
pdfplumber==0.5.28
Pillow==8.3.2
pycryptodome==3.10.4
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
sortedcontainers==2.4.0
Wand==0.6.7
